services:
  imagedb:
    image: ghcr.io/arkiv-network/usecases-imagedb:latest
    container_name: imagedb
    environment:
      - NODE_ENV=production
      - PORT=3000
      - ARKIV_RPC_URL=https://mendoza.hoodi.arkiv.network/rpc
      - ARKIV_WS_URL=wss://mendoza.hoodi.arkiv.network/ws
      - ARKIV_CHAIN_ID=60138453056
      - SENTRY_DSN=http://ed440ed3066b4f6aa8a50d5a5280e4b9@arkiv.network:8888/7
    env_file:
      - .env
    volumes:
      - ./data:/usr/src/app/data
    restart: unless-stopped
    networks:
      - moon_golem_network
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.imagedb.rule=Host(`imagedb.usecases.arkiv.network`)'
      - 'traefik.http.routers.imagedb.entrypoints=websecure'
      - 'traefik.http.routers.imagedb.tls=true'
      - 'traefik.http.routers.imagedb.tls.certresolver=letsencrypt'
      - 'traefik.http.services.imagedb.loadbalancer.server.port=3000'
      - 'traefik.docker.network=moon_golem_network'

networks:
  moon_golem_network:
    external: true